<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Browser">
            <directory suffix="Test.php">./tests/Browser</directory>
        </testsuite>
        <testsuite name="Api">
            <directory suffix="Test.php">./tests/Acceptance</directory>
            <directory suffix="Test.php">./tests/Integration</directory>
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <listeners>
        <listener class="DrawMyAttention\CodeQuality\Listeners\ComplexityAnalysisListener">
            <arguments>
                <bool>true</bool>
            </arguments>
        </listener>
    </listeners>
</phpunit>
